<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios Fontan</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="#login" class="btn">Iniciar Sesión</a>
                <a href="#register" class="btn">Registrarse</a>
                <a href="/estudiantes/" class="btn">Estudiantes (desp lo quito)</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="welcome-message">
            <h1>Bienvenido a Horarios Fontan!</h1>
            <p>Tu solución ideal para gestionar horarios de manera fácil y rápida.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Horarios Fontan. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
