{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <nav class="vertical-navbar">
    <div class="container">
      <ul>
        <li class="nav-item">
          <a class="nav-link">Taller A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Taller B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller E</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Taller F</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller G</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller H</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller I</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller J</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller K</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller L</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller M</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller N</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller O</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller P</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller Q</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller R</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller S</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller T</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller U</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller V</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller W</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller X</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller Y</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Taller Z</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


{% endblock %}




<!--


CUANDO YA ESTEN CREADO EL MODELO DE TALLER Y DE ESTUDIANTES, PARA QUE CADA TALLER REDIRIJA HACIA EL ADECUADO
<div class="container-fluid">
  Barra lateral 
  <nav class="vertical-navbar">
    <div class="container">
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='A' %}">Taller A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='B' %}">Taller B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='C' %}">Taller C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='D' %}">Taller D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='E' %}">Taller E</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='F' %}">Taller F</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='G' %}">Taller G</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='H' %}">Taller H</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='I' %}">Taller I</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='J' %}">Taller J</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='K' %}">Taller K</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='L' %}">Taller L</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='M' %}">Taller M</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='N' %}">Taller N</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='O' %}">Taller O</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='P' %}">Taller P</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='Q' %}">Taller Q</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='R' %}">Taller R</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='S' %}">Taller S</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='T' %}">Taller T</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='U' %}">Taller U</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='V' %}">Taller V</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='W' %}">Taller W</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='X' %}">Taller X</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='Y' %}">Taller Y</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estudiantes_por_taller' taller_id='Z' %}">Taller Z</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
-->