{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <nav class="vertical-navbar" style="height: 100vh; overflow-y: auto;">
    <div class="container">
      <ul>
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <li class="nav-item">
          <a class="nav-link">Taller {{ letter }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div> 

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      {% if query %}
          {% if estudiantes %}
              {% for estudiante in estudiantes %}
                  <div class="col">
                      <div class="card" style="width: 18rem;">
                          <img src="{% static 'images/DSC_1379.jpg' %}" class="card-img-top" alt="Imagen del estudiante">
                          <div class="card-body">
                              <h5 class="card-title">
                                  <a href="{% url 'estudiantes:detalle_perfil' estudiante.id %}" target="_blank">
                                      {{ estudiante.nombre }} {{ estudiante.apellido }}
                                  </a>
                              </h5>
                              <p class="card-text"><strong>Cedula:</strong> {{ estudiante.cedula }}</p>
                              <p class="card-text"><strong>Nivel:</strong> {{ estudiante.nivel_autonomia }}</p>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <div class="col">
                  <h2>No se encontraron resultados para "{{ query }}"</h2>
              </div>
          {% endif %}
      {% else %}
          {% for estudiante in estudiantes %}
              <div class="col">
                  <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/DSC_1379.jpg' %}" class="card-img-top" alt="Imagen del estudiante">
                      <div class="card-body">
                          <h5 class="card-title">
                            <a href="{% url 'estudiantes:detalle_estudiante' estudiante.id %}" target="_blank">
                                {{ estudiante.nombre }} {{ estudiante.apellido }}
                            </a>                            
                          </h5>
                          <p class="card-text"><strong>Cedula:</strong> {{ estudiante.cedula }}</p>
                          <p class="card-text"><strong>Nivel:</strong> {{ estudiante.nivel_autonomia }}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      {% endif %}
  </div>
</div>

{% endblock %}
