{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="space2x">
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="profile-image-container space-left2x">
                <img src="{{ estudiante.foto2.url }}" class="card-img-top" alt="Imagen del estudiante">
            </div>
        </div>

        <div class="container-fluid">
            <nav class="vertical-navbar" style="height: 100vh; overflow-y: auto;">
              <div class="container">
                <ul>
                  {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                  <li class="nav-item">
                    <a class="nav-link">Taller {{ letter }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </nav>
          </div> 

        <div class="container">
            <h1>Detalles del Estudiante</h1>
            <p><strong>Nombre:</strong> {{ estudiante.nombre }} {{ estudiante.apellido }}</p>
            <p><strong>Cédula:</strong> {{ estudiante.cedula }}</p>
            <p><strong>Nivel de autonomía:</strong> {{ estudiante.nivel_autonomia }}</p>
    </div>

    <div class="row mt-4" style="width: 100%;">
        <div class="col-md-12">
            <div class="card" style="height: 600px;">
                <div class="card-body">
                    <h4>Horario</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7"></div>
        <div class="col-md-2 d-flex align-items-center justify-content-end">
            <button class="btn btn-custom">Añadir estudiante</button>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-center">
            <button class="btn btn-danger">Eliminar estudiante</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}